html{
    font-size: 16px;
    background-color: palevioletred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



p, center{
    color: lightcoral;
}

h1 {
    font-size: 50px;
    color: lightcoral;
    text-align: center;
}

li{
    color: lightcoral;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1px;
}

body{
    width: 600px;
    margin: 0 auto;
    padding: 3%;
    background-color: pink;
    border: 5px solid rgb(143, 31, 31);
}

img{
    width: 600px;
}

#Item2{
    color: rgb(255, 0, 43)
}

nav ul{
    

}
